# WSGI
GUNICORN_CMD_ARGS='-c /code/gunicorn.conf.py'
SERVER_PORT=8000

# API
API_VERSION=v1
PREFIX=api

# Django
DJANGO_SETTINGS_MODULE=crmtest.settings
DEBUG=false
ALLOWED_HOSTS=localhost,
TIMEZONE=UTC
SECRET_KEY='A-SECRET-KEY'
DB_ENGINE=postgres
CACHE_ENGINE=redis

# SuperUser credentials
DJANGO_SUPERUSER_EMAIL=Admin@gmail.com
DJANGO_SUPERUSER_PASS=HelloWorld123

# PostgresSQL
POSTGRES_DB=crmtest
POSTGRES_USER=crmtest
POSTGRES_PASSWORD=crmtest
POSTGRES_HOST=crmtest_postgres
POSTGRES_PORT=5432

# Redis
REDIS_USER=default
REDIS_PASSWORD=crmtest
REDIS_HOST=crmtest_redis
REDIS_PORT=6379
# If credentials are not set, URI must be set for Celery Broker
REDIS_CONNECTION_URI=

# CORS
CSRF_TRUSTED_ORIGINS="https://127.0.0.1:8000,http://127.0.0.1:8000"
CORS_ALLOWED_ORIGINS="https://127.0.0.1:8000,http://127.0.0.1:8000"
CORS_ALLOW_ALL_ORIGINS=off

# REST Framework
PAGINATION_MAX_PAGE_SIZE=50
PAGINATION_PAGE_SIZE=10

# Auth
ACCESS_TOKEN_LIFETIME_DAYS=7
REFRESH_TOKEN_LIFETIME_DAYS=60
HAS_SUPERUSER_GOD_MODE=false

# Logs
LOGS_DIRECTORY=logs
DJANGO_LOG_FILENAME=debug.log
CELERY_LOG_FILENAME=celeryDebug.log

# Misc
CAR_RETURN_ALERT_INTERVAL_HOURS=6
