{% extends "base/base.html" %}

{% block title %}Cars{% endblock %}

{% block content %}

    <h1>List of Cars</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Plate</th>
                <th>Is Available</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.id }}</td>
                    <td>{{ car.name }}</td>
                    <td>{{ car.plate }}</td>
                    <td>{{ car.is_available }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No available cars found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
